@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("./fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	img {
		display: initial;
	}
}

@layer utilities {
	.clamp {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		overflow: hidden;
	}

	.one-line {
		-webkit-line-clamp: 1;
	}

	.two-lines {
		-webkit-line-clamp: 2;
	}

	.three-lines {
		-webkit-line-clamp: 3;
	}

	.four-lines {
		-webkit-line-clamp: 4;
	}

	.five-lines {
		-webkit-line-clamp: 5;
	}
}
